.color {
  border: 1px solid black;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.black {
  background-color: black;
}

.gray {
  background-color: gray;
}

.pink {
  background-color: pink;
}

.blueviolet {
  background-color: blueviolet;
}

.pixel {
  display: inline-block;
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.selected {
  border: 1px solid black;
}

.pixel-board {
    margin-top: 20px;
}

#clear-board {
    margin-top: 10px;
}

